# Gradle files
.gradle/
build/

# Kotlin and IntelliJ
*.iml
.idea/
.kotlin/
*.ipr
*.iws

# Local configuration files
local.properties

# Android Studio / OS
captures/
.externalNativeBuild
.cxx/
.DS_Store
Thumbs.db

# Build artifacts
*.apk
*.ap_
*.dex
bin/
gen/

# Log files
*.log
